@import url('https://fonts.googleapis.com/css?family=Aldrich');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background-color: #CFCFCF;
    height: 100vh;
}


.screen {
    height: 400px;
    width: 500px;

    margin: 0 auto;
    margin-top: 100px;

    background-color: #4F4F4F;

    border: 1px black solid;
    border-radius: 10px;

    font-family: 'Aldrich', sans-serif;
}

.saque {
    width: 300px;

    background-color: #9C9C9C;

    text-align: center;
    color: #1C1C1C;
    font-size: 30px;

    padding: 20px;
    margin: 0 auto;

    border: 1px #1C1C1C solid;
    border-radius: 10px;
}

#form{
    width: 450px;

    margin: 50px auto;

    background-color: #9C9C9C;

    border: 1px solid black;
    border-radius: 10px;
}

#form-group{
    margin: 10px 5px;
}

.button {
   text-align: center;
   margin: 0 auto;
}

.button button {
    width: 200px;
}

#myModal {
    font-family: 'Aldrich', sans-serif;
}